{% extends 'layout.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        {{ parent() }}
        <h1>Hello {{ controller_name }}! ✅</h1>
        <h2>Hello {{ esm }}! ✅</h2>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'G:/SymfonyProjects/gl2g22022/src/Controller/SecondController.php'|file_link(0) }}">src/Controller/SecondController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'G:/SymfonyProjects/gl2g22022/templates/second/index.html.twig'|file_link(0) }}">templates/second/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}

{% block title %}
    Second
{% endblock %}